/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-mar-2017, 9:49:34
    Author     : Luis
*/

body {
    background-image: url('../img/fondoapp.jpg');
    background-repeat: no-repeat;
    background-position: 90% -45%;
}

div label {
    vertical-align: top;
}

div {
    margin: .4em 0;
}

input.titulo, input.autor, #genero, input#isbn, input.editorial, input#edicion, input.nuevoGenero, input.nuevaEditorial, textarea.comentario {
    width: 100%;
}

label {
    margin-bottom: -15px;
}

input, select {
    margin-top: 20px;
}

textarea.comentario {
    height: 80px;
    margin-top: 20px;
}

#BotonSalir {
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}

#BotonSalir:hover {
    color: #d9534f;
    background-color: #fff;
    border-color: #d43f3a;
}

#BotonConsultar {
    background-color: lightseagreen;
    border-color: seagreen;
}

#BotonConsultar:hover {
    color: lightseagreen;
    background-color: #fff;
    border-color: seagreen;
}

#BotonGuardar, #BotonModificar, #BotonVolver {
    background-color: darkgreen;
    border-color: green;
    text-decoration: none;
}

#BotonGuardar:hover, #BotonModificar:hover, #BotonVolver:hover {
    color: darkgreen;
    background-color: #fff;
    border-color: green;
}

#BotonConsultar, #BotonGuardar, #BotonSalir, #BotonModificar, #BotonVolver {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    margin-right: 10px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
}

h1 {
    font-family: 'Baloo Bhaina', cursive;
}
label {
    font-family: 'Oswald', sans-serif;
}

#comentarioLibro {
    font-size: 20px;
}

#imagenLibro {
    width: 65%;
}

#num_id {
    margin-top: 0px;
    border: 0;
    background-color: white;
}